* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
  }

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 5px dashed black;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid red;
    background-color: #161616;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav {
    width: 80%;
    max-width: 1200px;
    height: 64px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.minor {
    font-family: 'Engagement';
    color: wheat;
    font-size: 24px;
}

.energo {
    font-family: 'Merienda';
    color: wheat;
    font-size: 24px;
    font-weight: 700;
}

.bar {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    padding: 0;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
}

.menu {
    margin: 20px;
    color: aliceblue;
}

section {
    width: 100%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%);
}

.content {    
    height: 1000px;
    margin: auto;
    width: 95%;
    max-width: 1200px;
}

.history {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

.general {
    color: white;
    margin-top: 100px;
    margin-bottom: 10px;
    height: 100%;
    background-color: #2c1900;
    font-size: 48px;
    font-family: 'Gilroy';
    font-weight: 600;
}

.under {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    height: 100%;
    background-color: #b36f16;
    font-size: 24px;
}

.discipline {
    justify-content: center;
    display: flex;
}

.base {
    width: 20%;
    height: 300px;
    position: absolute;
    cursor: pointer;
    border: #ff550000 4px solid;
    border-radius: 0px;
    transition: 0.3s ease-in-out;
}

.base:hover {
    border: #FF5500 4px solid;
    border-radius: 2px;
}

.cs_pic {
    background: url('../img/csgo1.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
}

.bg {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    transition: 0.60s ease-in-out;
    background-image: linear-gradient( to bottom, rgba(255,255,255,0) 0, #000 100% );
}

.base:hover .bg{
    opacity: 100;
}

.text_main {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.text {
    margin-top: 10px;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6);
    font-weight: 800;
    letter-spacing: 1px;
}

.choose {
    letter-spacing: 1px;
    opacity: 0;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    display: block;
    text-align: center;
    bottom: 0;
    margin-bottom: 24px;
    color: #FF5500;
    transition: 0.30s ease-in-out;
}

.base:hover .choose{
    opacity: 100;
}

.dota2_pic {
    background: url('../img/dota3.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
}

.lol_pic {
    background: url('../img/lol.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #2c1900;
}

h1 {
    color: white;
    font-family: 'Gilroy';
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Gilroy';
    font-weight: 600;
    margin-top: 0;
    color: black;
    padding: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 47px;
}

p1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 100px;
    font-style: normal;
    padding: auto;
}

.main-footer {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}

::selection {
    background: rgb(135,173,171);
    color: white;
}

.list li {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 21px;
    letter-spacing: 0.5px;
}

li:nth-child(3) {
    color: brown;
}

a {
    text-decoration: none;
    animation: 2s;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: brown;
}

.idea {
    width: 80%;
    margin: auto;
    text-align: justify ;
    margin-top: 100px;
    margin-bottom: 100px;
}
